<div class="title-block">
  <h3 class="title">
      Страница записей <span class="sparkline bar"></span>
  </h3>
</div>
<section class="section text-center" *ngIf="!isLoaded">
    <vp-loader></vp-loader>
</section>
<section class="section" *ngIf="isLoaded">
  <div class="row">
      <div class="col-md-6">
          <vp-add-event [categories]="categories"></vp-add-event>
      </div>
      <div class="col-md-6">
         <vp-add-category (onCategoryAdd)="newCategoryAdded($event)"></vp-add-category>
      </div>
  </div>
  <div class="row">
      <div class="col-md-6">
        <vp-edit-category (onCategoryEdit)="categoryWasEdited($event)" [categories]="categories"></vp-edit-category>
      </div>
  </div>
</section>